@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* font-family: "Josefin Sans", sans-serif; */
    font-family: "Montserrat", sans-serif;
}

body{
    height: 100vh;
    font-size: 1.1rem;
    position: relative;
    font-weight: 500;
    color: #666666;
}

 /* NAVBAR SECTION  */

 nav{
    background-color: #fff;
    justify-content: space-between;
    padding: 1rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
 }

 .logo {
    width: 40px;
 }
 .logo img {
    width: 100%;
 }

 nav{
    display: flex;
    align-items: center;
    gap: 2.1rem;
 }
 .nav-items {
    display: flex;
    align-items: center;
    gap: 2.1rem;
 }

 .nav-items  {
    gap: 2.6rem;
 }


 .nav-items li a {
    font-size: 1.2rem;
    color: #C16F79;
    font-weight: 500;
 }


 .primary-link a,
 .primary-link a  {
    background-color: #C16F79;
    padding: 0.8rem 1.6rem;
    border-radius: 30px;
    width: fit-content;
    transition: transform 0.6s ease, color 0.6s ease, background-color 0.6s ease, border 0.6s ease;
    color: #fff;
    text-align: center;
    min-width: 100px;
    display: block;
}

.primary-link a:hover {
    transform: scale(1.05);
    color: #C16F79 !important;
    background-color: transparent;
    border: 1.3px solid #C16F79;
}

 .primary-link a {
    color: #ffff;
 }
 .drop-down-nav {
    display: none;
 }

 .drop-down {
    align-items: center;
    justify-items: center;
    gap: 1rem;
    border-radius: 0.2rem;
    position: relative;
 }
 .drop-down li{
margin: 1.3rem 0;
 }
 
 .drop-down {
    position: absolute;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1rem;
    width: 300px;
    display: none;
}

.fa-bars {
    color: #C16F79;
    font-size: 1.7rem;
    cursor: pointer;
}

.drop-btn {
    display: block;
    border: 2px solid  #c16f79;
    padding: 0.7rem 2rem;
    margin-top: 1.5rem !important;
    border-radius: 2rem;
    color: #C16F79 !important;
}

.drop-down li a {
    color: #303030;
}

.fa-circle-xmark {
    color: #ff3f3ff8;
    font-size: 1.6rem;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 8px;
}

/* Intro SECTION  */
header {
    padding: 1rem 3rem;
    background-color: #C16F79;
    background-image: linear-gradient(rgba(47, 27, 29, 0.5), rgba(37, 24, 25, 0.5)), url(../assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh
}



.intro {
    margin-top: 1rem;
    min-height: 500px;
    color:#C16F79;
    margin: 0;
    width: 100%;
    height: 95vh
    
}

.intro,
.intro-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-content { 
    flex-direction: column;
}

.intro-content {
    width: 46vw;
}

.intro-content h1 {
    font-weight: 600;
    font-size: 2.8rem;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}
.intro-content p {
  margin: 1rem 0;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.3rem; 
}

.learn-link a{
    margin-top: 1.2rem;
    background-color: #d9edbc;
    color:#C16F79;
    transition: transform 0.6s ease, color 0.6s ease, background-color 0.6s ease, border 0.6s ease;
    font-weight: 600;
}
.learn-link a:hover{
    transform: scale(1.05);
    color: #bad0a9 !important;
    background-color: transparent;
    border: 1.3px solid #bad0a9;
}

/* abt-products  */
.abt-products {
    padding:3.3rem  3rem; 
    background-color: #bad0a9;
}
.products{
   display: flex;
   align-items: center;
   flex-direction: column;
   color:#C16F79;
}
.products p {
    font-weight: 500;
    margin-top: 0.7rem;
}

.products  h2{
    font-size: 1.6rem;
    
}


.service-img {
    padding: 1.3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 0.8rem;
    width: 100%;
}

.img-box{
    width: 8vw;
    min-width: 100px;
}

.img-box img{
    width: 100%;
    display: block;
}

/* abt-us */
.abt {
    padding: 2rem 3rem; 
    margin-top: 1rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.abt-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.abt-content {
    display: flex;  
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.abt-info {
    width: 28vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.abt-us  h2 {
    color:#C16F79; 
    margin-bottom: 0.5rem;
}

.abt-img {
width:24vw;
border-radius:1rem;
}
.abt-img img{
display: block;
width: 100%;
border-radius: 1rem;
}


/* OUR SERVICES SECTION  */
.our-services{
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.services-container { 
    background-color: #BAD0A9;
}

.services-container h2 {
    text-align: center;
    color:#C16F79; 
}

.services-cards {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.card {
    width: 22vw;
    height: auto;
    background-color: #ffffff28;
    border-radius: 0.5rem; 
    overflow: hidden;
    
}

.card-content {
    padding: 1.2rem;
    padding-bottom: 1.5rem;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    display: block;
    height: 48vh;
}

.card-content {
    margin-top: 0.8rem;
}
.card-content h4{
    color:#C16F79; 
}

.card-content p{
    margin-top: 0.5rem;
    font-size: 1rem;
}

.hidden-content {
    display: flex;
    gap: 2rem;
    opacity: 1;
}

/* .hide {
    display: none;
} */

.service-card {
    transition: opacity 1s ease-in-out;
}



.see-all{
    text-align: center;
    background-color: #BAD0A9;
    padding: 1rem;
    padding-bottom: 2rem;
}
.see-all a{
    text-align: center;
    font-weight: 600;
    color:#C16F79; 
    font-size: 1.2rem;
}

/* our-products */
.our-products,
.change-bg {
    background-color: #fff !important;
    /* border: 2px solid red; */
}

h2{
    font-weight: 700;
}

.card-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 1.6rem;
}

.product-card{
    text-align: center;
    border-radius: 0.3rem; 
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dff0c711;
}
.product-card p{
    color: #666666;
}

.hidden-card {
    margin-top: 1.4rem;
    align-self: start !important;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.hidden-card.show {
    display: flex;
    opacity: 1;
}


.product-link  {
    margin-top: 1.2rem;
    background-color: transparent;
}

/* Reviews */
.reviews-containter  {
    background-color: #BAD0A9;
    padding: 3rem 0;
}
.reviews-containter h2 {
    text-align: center;
    color:#C16F79; 
}
.reviews {
    padding: 1rem 3rem;
}

.reviews-cards {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.9rem;
}

.review-card {
    width: 25vw;
    height: 26vh;
    text-align: center;
    background-color: #BAD0A9;
    padding: 1.2rem;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.review-card p{
    font-size: 0.9rem;
    color: #4e4e4e;
}

.user {
    display: flex;
    align-items: center;
    gap: 0rem;
    margin-bottom: 1rem;
}


.name {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: -0.4rem;
}

.date {
    font-size: 0.7rem !important;
    margin-left: 1.2rem;
    margin-top: 0.2rem;
}
.name h4{
    font-weight: 600;
    font-size: 0.9rem;
}

.fa-user {
    background-color: #c16f79e6; 
    padding: 0.6rem;  
    border-radius: 100%;
    font-size: 0.7rem;
    color: #f3b0b0;
    box-shadow: rgba(0, 0, 0, 0.066) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

footer {
    margin-top: 2rem;
    padding:0 3rem ;
    padding-top: 2rem;
    background-color: #c16f79;
}

.footer-content {
    color: #f5f5f5;
}

.social h5 {
    font-size: 1.1rem;
}

.footer-items {
    margin-top: 0.9rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.footer-items li a img {
    width: 30px;
}

.contact-no {
    margin-top: 0.8rem;
    color: #4e4e4e;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.fa-phone {
    transform: rotate(85deg);
}

.copyrights {
    text-align: center;
    color: #303030;
    font-weight: 600;
    background-color: #c16f79;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo {
    margin-left: 100px;
}

.footer-logo img {
    width: 70px;
    display: block;
}

.fa-location-dot {
    color: #ababab; 
    font-size: 1.1rem; 
}

.f-links a {
    color: #f5f5f5;
    font-weight: 600;
}

.location {
    width: 18vw;
    font-size: 0.9rem;
    margin-top: 0.8rem;
    font-weight: 700;
    color: #303030;
    display: flex;
    gap: 0.3rem;
}

hr{
    height: 2px;
    background-color: #BAD0A9;
    border: none;
    margin-top: 1rem;
}


#contact {
    margin: 2rem 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


@media only screen and (max-width: 600px) {
   .nav-items {
    display: none;
   }

   .nav-btn {
    display: none;
   }

   header,
   .abt,
   .abt-products{
    padding: 1rem;
}
.intro {
    padding: 1rem;
    min-height: 450px;
}
.intro-content{
    width: 76vw;
}
.intro-content h1{
    font-size: 1.7rem;
    margin-top: 2.5rem;
}
.intro-content p{
 text-align: center;
}

.abt-products {
    padding: 0 1rem; 
}
.products{
   padding: 2rem;
   text-align: center;
}
.service-img {
   flex-wrap: wrap;
}
.img-box{
    width: 8vw;
    min-width: 70px;
}
h2{
    font-size: 1.3rem;
}

.abt-content {
   flex-direction: column;
    margin-top: 0;
}

.abt-info {
    width: 90vw;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.abt-us  h2 {
    color:#C16F79; 
    margin-bottom: 0.5rem;
}

.abt-img {
width: 38vw;
}

/* OUR SERVICES SECTION  */
.our-services{
    margin-bottom: 2.5rem;
}
.services-container {
    padding: 0rem;
    padding-top: 1.5rem; 
}

.services-container h2 {
    text-align: center;
    color:#C16F79; 
}

.services-cards {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-direction: column;
}

.card {
    width: 80vw;
    height: auto;
}
.card-content{
    text-align: center;
}

.mv-btn {
    padding-top: 2rem;
}

/* our-products */
.our-products {
    background-color: #fff;
}

h2{
    font-weight: 700;
}

.card-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
}

.product-card img{
  width: 30vw;
  height: 120px;
}
.product-card p{
    color: #666666;
}

.product-card{
    /* border: 2px solid red; */
    height: 300px;
}

.hidden-card {
    margin-top: 1.4rem;
    align-self: start;
    margin-left: 10px;
    display: none;
}

.product-link  {
    margin-top: 1.2rem;
}

.drop-down-nav{
    display: block;
}

/* Reviews */
.reviews-containter  {
    background-color: #d9edbc;
    padding: 1.5rem 0;
}
.reviews {
    padding: 1rem;
}

.reviews-cards {
    flex-direction: column;
}

.review-card {
    width: 80vw;
    height: auto;
    box-sizing: border-box;
}
.review-card p{
    font-size: 1rem;
    color: #4e4e4e;
}

/* Footer */

footer {
    margin-top: 2rem;
    padding: 0rem 1rem;
}

.footer-content {
    padding:1rem  1.2rem;
    color: #f5f5f5;
    background-color: #c16f79;
}

.social h5 {
    font-size: 1rem;
    font-weight: 500;
}

.footer-items {
    margin-top: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
}
.ft-link {
    width: 80vw;
    margin-top: 1.5rem;
}

.f-links a {
    font-size: 1rem;
}

.footer-nav {
    flex-wrap: wrap;
}

.footer-logo {
    margin-left: 0px;
}

.location {
    width: 80vw;
    font-size: 0.9rem;
    font-weight: 500;
    gap: 0.8rem;
}

.contact-no {
    font-weight: 500;
}


.social h5 {
    font-size: 1.1rem;
}


.footer-items li a img {
    width: 20px;
}



.copyrights {
    text-align: center;
    font-size: 1rem;
}


.footer-logo img {
    width: 60px;
    display: block;
}

.fa-location-dot {
    color: #ababab; 
    font-size: 1.1rem; 
}

.f-links a {
    color: #f5f5f5;
    font-weight: 500;
}


  }

  @media only screen and (min-width: 600px) and (max-width: 1000px) {
   .intro-content {
    text-align: center;
   }
   .intro-content h1{
    font-size:2rem;
   }

   .img-box{
    width: 8vw;
    min-width: 70px;
}
.nav-items,
.nav-btn {
display: none;
}

.abt-content {
    flex-direction: column;
}

.abt-info,
.abt-img {
    width: 70vw;
}

.abt-img{
    margin-top: 2rem;
}
.card {
    width: 35vw;
    min-width: 550px;
    height: auto;
}

.services-cards,
.card-container {
    justify-content: center;
}

.card-content{
    padding: 1.5rem;
}
.card-content h4{
    font-size: 1.5rem;
}
.card-content h4{
    font-size: 1.5rem;
}
.card-content p{
    font-size: 1.3rem;
}
.card-container,
.reviews-cards{
    flex-wrap: wrap;
}

.review-card{
    width: 65vw;
}
.review-card p,
.abt-info p,
.products p,
.intro-content p{
   font-size: 1.3rem;
}
hr{
    display: none;
}
.location {
    width: 30vw;
    font-size: 0.9rem;
    margin-top: 0.8rem;
}
.footer-logo {
    margin-left: 70px;
}
.drop-down-nav{
    display: block;
}
.hidden-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    opacity: 1;
}

}
